DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
COURSE_NOW=2026-04-30T09:00:00Z
HONO_URL=http://localhost:3000
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""