# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.*
!.env.example

# typescript / build
*.tsbuildinfo
dist/
build/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test / coverage
coverage/
